@import "tailwindcss";

/* Thin Blue Scrollbar with transparent track channel */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6 !important;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8 !important;
}

/* Firefox scrollbar compatibility */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}
